html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-size: 62.5%;
    font-family: 'Kodchasan', sans-serif;
}

.box {
    display: block;
    background-color: rosybrown;
    width: 400px;
    height: 400px;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: transparent;
}

.box .text {
    width: 100%;
    font-size: 1.2rem;
    font-style: italic;
    resize: vertical;
    text-align: center;
    background-color: transparent;
    overflow-y: hidden;
    resize: none;
    outline: none;
    border: none;
    font-family: 'Kodchasan', sans-serif;
}

/* .text {
    display: block;
    position: absolute;
    background-color: transparent;
} */
